## Proyecto Final Introdución a Python para Ciencia Datos

### Etapa 1

descarga dataset de : 
https://www.kaggle.com/code/mpwolke/world-cup-date-preparation/data
https://www.kaggle.com/datasets/cashncarry/fifaworldranking/metadata

### Etapa 2
#### a) Importacion de Paquetes

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

#### b) Carga de dataset

In [31]:
path = r'/home/diego/Win/Visualización Python/Proyecto Final'

#Extrae los datos del ranking fifa de seleciones de mundo masculino
df_rank = pd.read_csv(path+'/fifa_ranking-2022-08-25.csv',sep=',', header=0, index_col=False
                          , encoding='latin-1', engine='python' )

#Extrae los datos de las copas mundiales de futbol de la fifa
df_wc = pd.read_csv(path+'/matches.csv',sep=',', header=0, index_col=False
                          , encoding='latin-1', engine='python' )

#### c) 5 Tecnicas de Exploracion

In [3]:
#Muestra los Primeros 5 registros
df_rank.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,211,San Marino,SMR,763.82,763.82,0,UEFA,1992-12-31
1,75,Oman,OMA,1323.03,1323.03,0,AFC,1992-12-31
2,74,Bulgaria,BUL,1325.16,1325.16,0,UEFA,1992-12-31
3,73,Cabo Verde,CPV,1331.46,1332.96,1,CAF,1992-12-31
4,72,Congo DR,COD,1332.84,1332.84,-1,CAF,1992-12-31

In [4]:
#Muestra los Ultimos 5 registros
df_rank.tail()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
67726,76,Israel,ISR,1316.35,1316.35,0,UEFA,2022-08-25
67727,77,Uzbekistan,UZB,1306.63,1306.63,0,AFC,2022-08-25
67728,78,China PR,CHN,1305.06,1304.02,0,AFC,2022-08-25
67729,80,Honduras,HON,1299.69,1299.69,0,CONCACAF,2022-08-25
67730,211,San Marino,SMR,763.82,763.82,0,UEFA,2022-08-25

In [5]:
#Muestra la cantidad de Filas y columnas
df_rank.shape

(67731, 8)

In [6]:
#Muestra metadata de DataFrame
df_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67731 entries, 0 to 67730
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             67731 non-null  int64
 1   country_full     67731 non-null  object
 2   country_abrv     67731 non-null  object
 3   total_points     67731 non-null  float64
 4   previous_points  67731 non-null  float64
 5   rank_change      67731 non-null  int64
 6   confederation    67731 non-null  object
 7   rank_date        67731 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 4.1+ MB

In [7]:
#Muestra estadistica basica de las columna numericas
df_rank.describe()

               rank  total_points  previous_points   rank_change
count  67731.000000  67731.000000     67731.000000  67731.000000
mean     106.000000   1220.645592      1220.621848      0.000000
std       60.910219    252.732553       252.754256      0.674524
min        1.000000    763.820000       763.820000     -3.000000
25%       53.000000   1004.750000      1004.750000      0.000000
50%      106.000000   1183.900000      1183.900000      0.000000
75%      159.000000   1435.740000      1435.740000      0.000000
max      211.000000   1837.560000      1837.560000      4.000000

In [8]:
#Muestra las caracteristicas del Indice
df_rank.index

RangeIndex(start=0, stop=67731, step=1)

In [9]:
#Muestra un lista de con los nombre de las columnas
df_rank.columns

Index(['rank', 'country_full', 'country_abrv', 'total_points',
       'previous_points', 'rank_change', 'confederation', 'rank_date'],
      dtype='object')

In [10]:
df_wc.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday

In [11]:
df_wc.tail()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
895,2018,Russia,Sochi,Quarterfinals,Russia,Croatia,2,2,A,Croatia won in penalties (4 - 3),Croatia,Russia,2018-07-07,Jul,Saturday
896,2018,Russia,Saint Petersburg,Semifinals,France,Belgium,1,0,H,NaN,France,Belgium,2018-07-10,Jul,Tuesday
897,2018,Russia,Moscow,Semifinals,Croatia,England,2,1,H,Croatia won in AET,Croatia,England,2018-07-11,Jul,Wednesday
898,2018,Russia,Saint Petersburg,Third place,Belgium,England,2,0,H,NaN,Belgium,England,2018-07-14,Jul,Saturday
899,2018,Russia,Moscow,Final,France,Croatia,4,2,H,NaN,France,Croatia,2018-07-15,Jul,Sunday

In [12]:
df_wc.shape

(900, 15)

In [13]:
df_wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            900 non-null    int64
 1   country         900 non-null    object
 2   city            900 non-null    object
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   away_team       900 non-null    object
 6   home_score      900 non-null    int64
 7   away_score      900 non-null    int64
 8   outcome         900 non-null    object
 9   win_conditions  62 non-null     object
 10  winning_team    731 non-null    object
 11  losing_team     731 non-null    object
 12  date            900 non-null    object
 13  month           900 non-null    object
 14  dayofweek       900 non-null    object
dtypes: int64(3), object(12)
memory usage: 105.6+ KB

In [14]:
df_wc.describe()

              year  home_score  away_score
count   900.000000  900.000000  900.000000
mean   1986.915556    1.568889    1.262222
std      23.150270    1.489574    1.313960
min    1930.000000    0.000000    0.000000
25%    1970.000000    0.000000    0.000000
50%    1990.000000    1.000000    1.000000
75%    2006.000000    2.000000    2.000000
max    2018.000000   10.000000    8.000000

In [15]:
df_wc.index

RangeIndex(start=0, stop=900, step=1)

In [16]:
df_wc.columns

Index(['year', 'country', 'city', 'stage', 'home_team', 'away_team',
       'home_score', 'away_score', 'outcome', 'win_conditions', 'winning_team',
       'losing_team', 'date', 'month', 'dayofweek'],
      dtype='object')

### Etapa 3
#### a) Seleccion de columnas

In [32]:
mundiales = df_wc[['date','country', 'city', 'stage', 'home_team', 'away_team',
       'home_score', 'away_score', 'win_conditions', 'winning_team',
       'losing_team' ]]

#Consulta de las 6 ultimas finales
#mundiales[mundiales['stage']== 'Final'].tail(6)

#### b) Validacion de tipos

In [18]:
mundiales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            900 non-null    object
 1   country         900 non-null    object
 2   city            900 non-null    object
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   away_team       900 non-null    object
 6   home_score      900 non-null    int64
 7   away_score      900 non-null    int64
 8   win_conditions  62 non-null     object
 9   winning_team    731 non-null    object
 10  losing_team     731 non-null    object
dtypes: int64(2), object(9)
memory usage: 77.5+ KB

#### c)  Revision formatos de fecha

In [33]:
mundiales['date']=pd.to_datetime(mundiales['date'], format='%Y-%m-%d %H:%M:%S')

mundiales['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 900 entries, 0 to 899
Series name: date
Non-Null Count  Dtype
--------------  -----
900 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.2 KB

/tmp/ipykernel_4782/2358660629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mundiales['date']=pd.to_datetime(mundiales['date'], format='%Y-%m-%d %H:%M:%S')

#### d) Extracion de fecha año, mes y nombre mes

In [34]:
mundiales['Anio'] = pd.to_datetime(mundiales['date']).dt.year
mundiales['Mes_Name'] = pd.to_datetime(mundiales['date']).dt.month_name()
mundiales['Mes'] = pd.to_datetime(mundiales['date']).dt.month
mundiales['Dia']= pd.to_datetime(mundiales['date']).dt.day_name()

/tmp/ipykernel_4782/4288233541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mundiales['Anio'] = pd.to_datetime(mundiales['date']).dt.year
/tmp/ipykernel_4782/4288233541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mundiales['Mes_Name'] = pd.to_datetime(mundiales['date']).dt.month_name()
/tmp/ipykernel_4782/4288233541.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mundiales['Mes'] = pd.to_datetime(mundiales['date']).dt.month

#### e) Union de bases de datos

In [35]:
#Resumen tabla rancking fifa para hacer la union
df_rank = df_rank.groupby(['country_full','country_abrv','confederation'])['rank'].mean()
df_rank= pd.DataFrame(df_rank).reset_index()

df_rank = df_rank.set_index('rank').sort_index()

print(df_rank.loc[1:20])

     country_full country_abrv confederation
rank
1.0        Brazil          BRA      CONMEBOL
2.0       Belgium          BEL          UEFA
3.0     Argentina          ARG      CONMEBOL
4.0        France          FRA          UEFA
5.0       England          ENG          UEFA
6.0         Spain          ESP          UEFA
7.0         Italy          ITA          UEFA
8.0   Netherlands          NED          UEFA
9.0      Portugal          POR          UEFA
10.0      Denmark          DEN          UEFA
11.0      Germany          GER          UEFA
12.0       Mexico          MEX      CONCACAF
13.0      Uruguay          URU      CONMEBOL
14.0          USA          USA      CONCACAF
15.0      Croatia          CRO          UEFA
16.0  Switzerland          SUI          UEFA
17.0     Colombia          COL      CONMEBOL
18.0      Senegal          SEN           CAF
19.0        Wales          WAL          UEFA
20.0       Sweden          SWE          UEFA

In [36]:
#Union de tabla mundiales con df_rank
rank1 = df_rank[['country_full','country_abrv','confederation']].set_index('country_full')
rank2 = df_rank[['country_full','country_abrv','confederation']].set_index('country_full')


mundiales= pd.merge(mundiales,rank1,
                   left_on= 'home_team',
                  right_on='country_full',
               )


mundiales= pd.merge(mundiales,rank2,
                   left_on= 'away_team',
               right_on='country_full')

### Etapa 4  (Limpieza)
#### a) Valores Vacios

In [37]:
mundiales.isna().sum()

date                 0
country              0
city                 0
stage                0
home_team            0
away_team            0
home_score           0
away_score           0
win_conditions     601
winning_team       119
losing_team        119
Anio                 0
Mes_Name             0
Mes                  0
Dia                  0
country_abrv_x       0
confederation_x      0
country_abrv_y       0
confederation_y      0
dtype: int64

#### b) Reemplazo valores vacios

In [52]:
#Los valores vacios son valores texto, para este analisis no es necesario eliminarlos
#se va reemplazaran por 0

mundiales = mundiales.fillna(0)

fil=mundiales['win_conditions'] != 0

mundiales[fil]

,date,country,city,stage,home_team,away_team,home_score,away_score,win_conditions,winning_team,losing_team,Anio,Mes_Name,Mes,Dia,country_abrv_x,confederation_x,country_abrv_y,confederation_y
11,2006-06-24,Germany,Leipzig,Round of 16,Argentina,Mexico,2,1,Argentina won in AET,Argentina,Mexico,2006,June,6,Saturday,ARG,CONMEBOL,MEX,CONCACAF
28,1986-06-28,Mexico,Puebla,Third place,France,Belgium,4,2,France won in AET,France,Belgium,1986,June,6,Saturday,FRA,UEFA,BEL,UEFA
38,1986-06-22,Mexico,Puebla,Quarterfinals,Spain,Belgium,1,1,Belgium won in penalties (5 - 4),Belgium,Spain,1986,June,6,Sunday,ESP,UEFA,BEL,UEFA
41,1990-06-26,Italy,Bologna,Round of 16,England,Belgium,1,0,England won in AET,England,Belgium,1990,June,6,Tuesday,ENG,UEFA,BEL,UEFA
49,1998-07-03,France,Saint-Denis,Quarterfinals,France,Italy,0,0,France won in penalties (4 - 3),France,Italy,1998,July,7,Friday,FRA,UEFA,ITA,UEFA
54,1994-07-17,United States,Pasadena,Final,Brazil,Italy,0,0,Brazil won in penalties (3 - 2),Brazil,Italy,1994,July,7,Sunday,BRA,CONMEBOL,ITA,UEFA
60,2006-07-04,Germany,Dortmund,Semifinals,Germany,Italy,0,2,Italy won in AET,Italy,Germany,2006,July,7,Tuesday,GER,UEFA,ITA,UEFA
73,1994-07-05,United States,Foxborough,Round of 16,Nigeria,Italy,1,2,Italy won in AET,Italy,Nigeria,1994,July,7,Tuesday,NGA,CAF,ITA,UEFA
77,1998-06-28,France,Lens,Round of 16,France,Paraguay,1,0,France won in AET,France,Paraguay,1998,June,6,Sunday,FRA,UEFA,PAR,CONMEBOL
120,1954-06-30,Switzerland,Lausanne,Semifinals,Hungary,Uruguay,4,2,Hungary won in AET,Hungary,Uruguay,1954,June,6,Wednesday,HUN,UEFA,URU,CONMEBOL
175,2018-07-01,Russia,Nizhny Novgorod,Round of 16,Croatia,Denmark,1,1,Croatia won in penalties (3- 2),Croatia,Denmark,2018,July,7,Sunday,CRO,UEFA,DEN,UEFA
187,2018-07-07,Russia,Sochi,Quarterfinals,Russia,Croatia,2,2,Croatia won in penalties (4 - 3),Croatia,Russia,2018,July,7,Saturday,RUS,UEFA,CRO,UEFA
217,2002-06-16,Japan,Åita,Round of 16,Sweden,Senegal,1,2,Senegal won in AET,Senegal,Sweden,2002,June,6,Sunday,SWE,UEFA,SEN,CAF
225,2014-07-01,Brazil,SÃ£o Paulo,Round of 16,Argentina,Switzerland,1,0,Argentina won in AET,Argentina,Switzerland,2014,July,7,Tuesday,ARG,CONMEBOL,SUI,UEFA
288,1990-07-03,Italy,Naples,Semifinals,Italy,Argentina,1,1,Argentina won in penalties (4 - 3),Argentina,Italy,1990,July,7,Tuesday,ITA,UEFA,ARG,CONMEBOL
292,2014-07-09,Brazil,SÃ£o Paulo,Semifinals,Netherlands,Argentina,0,0,Argentina won in penalties (4 - 2),Argentina,Netherlands,2014,July,7,Wednesday,NED,UEFA,ARG,CONMEBOL
293,2006-06-30,Germany,Berlin,Quarterfinals,Germany,Argentina,1,1,Germany won in penalties (4 - 2),Germany,Argentina,2006,June,6,Friday,GER,UEFA,ARG,CONMEBOL
294,2014-07-13,Brazil,Rio de Janeiro,Final,Germany,Argentina,1,0,Germany won in AET,Germany,Argentina,2014,July,7,Sunday,GER,UEFA,ARG,CONMEBOL
309,1998-06-30,France,Saint-Ãtienne,Round of 16,Argentina,England,2,2,Argentina won in penalties (4 - 3),Argentina,England,1998,June,6,Tuesday,ARG,CONMEBOL,ENG,UEFA
321,2018-07-03,Russia,Moscow,Round of 16,Colombia,England,1,1,England won in penalties (4 -3),England,Columbia,2018,July,7,Tuesday,COL,CONMEBOL,ENG,UEFA
326,1990-07-01,Italy,Naples,Quarterfinals,Cameroon,England,2,3,England won in AET,England,Cameroon,1990,July,7,Sunday,CMR,CAF,ENG,UEFA
329,2018-07-11,Russia,Moscow,Semifinals,Croatia,England,2,1,Croatia won in AET,Croatia,England,2018,July,7,Wednesday,CRO,UEFA,ENG,UEFA
352,2010-07-11,South Africa,Johannesburg,Final,Netherlands,Spain,0,1,Spain won in AET,Spain,Netherlands,2010,July,7,Sunday,NED,UEFA,ESP,UEFA
363,2018-07-01,Russia,Moscow,Round of 16,Russia,Spain,1,1,Russia won in penalties (4 - 3),Russia,Spain,2018,July,7,Sunday,RUS,UEFA,ESP,UEFA
375,1998-07-07,France,Marseille,Semifinals,Brazil,Netherlands,1,1,Brazil won in penalties (4 - 2),Brazil,Netherlands,1998,July,7,Tuesday,BRA,CONMEBOL,NED,UEFA
377,1978-06-25,Argentina,Buenos Aires,Final,Argentina,Netherlands,3,1,Argentina won in AET,Argentina,Netherlands,1978,June,6,Sunday,ARG,CONMEBOL,NED,UEFA
399,2014-06-30,Brazil,Porto Alegre,Round of 16,Germany,Algeria,2,1,Germany won in AET,Germany,Algeria,2014,June,6,Monday,GER,UEFA,ALG,CAF
416,2010-06-29,South Africa,Pretoria,Round of 16,Paraguay,Japan,0,0,Paraguay won in penalties (5 - 3),Paraguay,Japan,2010,June,6,Tuesday,PAR,CONMEBOL,JPN,AFC
421,1938-06-05,France,Strasbourg,Round of 16,Brazil,Poland,6,5,Brazil won in AET,Brazil,Poland,1938,June,6,Sunday,BRA,CONMEBOL,POL,UEFA
459,1994-07-10,United States,Palo Alto,Quarterfinals,Romania,Sweden,2,2,Sweden won in penalties (5 - 4),Sweden,Romania,1994,July,7,Sunday,ROU,UEFA,SWE,UEFA
468,1986-06-21,Mexico,Guadalajara,Quarterfinals,Brazil,France,1,1,France won in penalties (4 - 3),France,Brazil,1986,June,6,Saturday,BRA,CONMEBOL,FRA,UEFA
475,1934-05-27,Italy,Turin,Round of 16,Austria,France,3,2,Austria won in AET,Austria,France,1934,May,5,Sunday,AUT,UEFA,FRA,UEFA
478,2006-07-09,Germany,Berlin,Final,Italy,France,1,1,Italy won in penalties (5 - 3),Italy,France,2006,July,7,Sunday,ITA,UEFA,FRA,UEFA
499,1994-07-05,United States,East Rutherford,Round of 16,Mexico,Bulgaria,1,1,Bulgaria won in penalties (3 - 1),Bulgaria,Mexico,1994,July,7,Tuesday,MEX,CONCACAF,BUL,UEFA
511,2006-07-01,Germany,Gelsenkirchen,Quarterfinals,England,Portugal,0,0,Portugal won in penalties (3 - 1),Portagul,England,2006,July,7,Saturday,ENG,UEFA,POR,UEFA
524,1990-06-25,Italy,Genoa,Round of 16,Republic of Ireland,Romania,0,0,Republic of Ireland won in penalties (5 - 4),Republic of Ireland,Romania,1990,June,6,Monday,IRL,UEFA,ROU,UEFA
533,2014-07-05,Brazil,Salvador,Quarterfinals,Netherlands,Costa Rica,0,0,Netherlands won in penalties (4 - 3),Netherlands,Costa Rica,2014,July,7,Saturday,NED,UEFA,CRC,CONCACAF
552,1938-06-05,France,Marseille,Round of 16,Italy,Norway,2,1,Italy won in AET,Italy,Norway,1938,June,6,Sunday,ITA,UEFA,NOR,UEFA
560,2014-06-28,Brazil,Belo Horizonte,Round of 16,Brazil,Chile,1,1,Brazil won in penalties (3 - 2),Brazil,Chile,2014,June,6,Saturday,BRA,CONMEBOL,CHI,CONMEBOL
570,2010-07-02,South Africa,Johannesburg,Quarterfinals,Uruguay,Ghana,1,1,Uruguay won in penalties (4 - 2),Uruguay,Ghana,2010,July,7,Friday,URU,CONMEBOL,GHA,CAF
580,1990-06-23,Italy,Naples,Round of 16,Cameroon,Colombia,2,1,Cameroon won in AET,Cameroon,Colombia,1990,June,6,Saturday,CMR,CAF,COL,CONMEBOL
589,2014-06-29,Brazil,Recife,Round of 16,Costa Rica,Greece,1,1,Costa Rica won in penalties (5 - 3),Costa Rica,Greece,2014,June,6,Sunday,CRC,CONCACAF,GRE,UEFA
617,2002-06-16,South Korea,Suwon,Round of 16,Spain,Republic of Ireland,1,1,Spain won in penalties (3 - 2),Spain,Republic of Ireland,2002,June,6,Sunday,ESP,UEFA,IRL,UEFA
630,2006-06-26,Germany,Cologne,Round of 16,Switzerland,Ukraine,0,0,Ukraine won in penalties (3- 0),Ukraine,Switzerland,2006,June,6,Monday,SUI,UEFA,UKR,UEFA

#### c) Validacion valores duplicados

#Los valores duplicado que tenia eran en el data set de rack los elimine en la etapa #3  en el punto
#e) Union de bases de datos

#### d) Metodo validacion resultados de filas

#Dataset no cuenta con operaciones arimeticas

### Etapa 4 (Simplyficar)
#### a) Agrupaciones

In [53]:
mundiales.columns

Index(['date', 'country', 'city', 'stage', 'home_team', 'away_team',
       'home_score', 'away_score', 'win_conditions', 'winning_team',
       'losing_team', 'Anio', 'Mes_Name', 'Mes', 'Dia', 'country_abrv_x',
       'confederation_x', 'country_abrv_y', 'confederation_y'],
      dtype='object')

In [107]:
#Crea un dataset de solo finales
finales = mundiales[mundiales['stage'] == 'Final']

#Se hace una agrupacion de los equipo ganadores, para saber cuantas copas a ganado en la historia
df_grp_1= pd.DataFrame(finales.groupby(['winning_team'])['stage'].count()).reset_index()

#Cambia el nombre a la columnas
df_grp_1.rename({'stage':'cups_won'}, axis=1, inplace=True)

#Ordena pais con mas cups won.
df_grp_1.sort_values('cups_won',ascending=False)

  winning_team  cups_won
1       Brazil         4
2       France         2
4        Italy         2
0    Argentina         1
3      Germany         1
5        Spain         1
6      Uruguay         1

### Etapa 5 (Visualizacion)