## Proyecto Final Introdución a Python para Ciencia Datos

### Etapa 1

descarga dataset de : 
https://www.kaggle.com/code/mpwolke/world-cup-date-preparation/data
https://www.kaggle.com/datasets/cashncarry/fifaworldranking/metadata

### Etapa 2

In [1]:
# a) Importacion de Paquetes

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
# b) Carga de dataset

path = r'/home/diego/Win/Visualización Python/Proyecto Final'


df_rank = pd.read_csv(path+'/fifa_ranking-2022-08-25.csv',sep=',', header=0, index_col=False
                          , encoding='latin-1', engine='python' )

df_wc = pd.read_csv(path+'/matches.csv',sep=',', header=0, index_col=False
                          , encoding='latin-1', engine='python' )

#salaries.drop("Unnamed: 0", inplace =True , axis =1)

In [3]:
df_rank.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,211,San Marino,SMR,763.82,763.82,0,UEFA,1992-12-31
1,75,Oman,OMA,1323.03,1323.03,0,AFC,1992-12-31
2,74,Bulgaria,BUL,1325.16,1325.16,0,UEFA,1992-12-31
3,73,Cabo Verde,CPV,1331.46,1332.96,1,CAF,1992-12-31
4,72,Congo DR,COD,1332.84,1332.84,-1,CAF,1992-12-31

In [4]:
df_wc.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday